/nbproject
/frontend/vendor/
/frontend/var/cache/
/apache-camel/folderWithFilesToMail/fileToEmail/target/
.idea
/apache-camel/Integratie/config.properties
/apache-camel/Integratie/mylogging.txt
/apache-camel/Integratie/target
/apache-camel/folderWithFilesToMail/fileToEmail/mylogging.txt
/apache-camel/Integratie/console.txt
/apache-camel/Integratie/java-log.txt
