
{% extends "layout.html.twig" %}

{% block content %}
<section id="contact">
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col-sm-12 col-md-6 text-center">
                <h2 class="section-heading">Je hebt je afgemeld!</h2>
                <h3 class="section-subheading">Je ontvangt vanaf nu geen dagelijkse mail meer.</h3>
                <a href="/" class="btn btn-sm">Terug naar homepage</button>
            </div>
        </div>
    </div>
</section>
{% endblock %}
