section h3.section-subheading {
    color: #e0e0e0;
    margin-bottom: 25px;
}

section#contact {
    min-height: 100vh;
    min-width: 100vw;
}

.form-group label {
    color: #e0e0e0;
}

section#contact ::-webkit-input-placeholder {
    color: #aaa !important;
    opacity: 1;
    text-transform: none;
}

section#contact :-moz-placeholder {
    color: #aaa !important;
    opacity: 1;
    text-transform: none;
}

section#contact ::-moz-placeholder {
    color: #aaa !important;
    opacity: 1;
    text-transform: none;
}

section#contact :-ms-input-placeholder {
    color: #aaa !important;
    opacity: 1;
    text-transform: none;
}